<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav>
      <img src="/images/dumbbells.svg">
      <a href="/"	<%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
      <h3>|</h3>
      <% if (user) { %>
        <a href="/trackers" <%- title === 'Fitness Tracker' ? 'class="active"' : '' %>>FITNESS TRACKER</a>
        <h3>|</h3>
        <a href="/routines/new" <%- title === 'Add a Routine' ? 'class="active"' : '' %>>CREATE ROUTINE</a>
        <h3>|</h3>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
      <% } %>
    </nav>
    <main>
      <h1><%= title %></h1>
    
    