<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Routines</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% routines.forEach(function(r) { %>
            <tr>
                <td><%= r.routineName %></td>
                <td><a href="/routines/<%= r._id %>">ROUTINE DETAILS</a></td>
                <td>
                    <form action="/routines/<%= r._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                </td>
            </tr>

        <% }); %>
    </tbody>

</table>


<%- include('../partials/footer') %>