<%- include('../partials/header') %>

<section id="show-page">
    <div><h1>Routine Name: </h1></div>
    <div><h1><%= routine.routineName %></h1></div>
</section>

<% if (routine.exercises.length) { %>
    <table>
      <thead>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Repetitions</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% routine.exercises.forEach(function(e) { %>
            <tr>
                <td><%= e.exerciseName %></td>
                <td><%= e.sets %></td>
                <td><%= e.repetitions %></td>
                <td>
                    <a href="/exercises/<%= e._id %>/edit">
                        <button>EDIT EXERCISE</button>
                    </a>
                </td>
                <td>
                    <form action="/exercises/<%= e._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                </td>
            </tr>

        <% }); %>
      </tbody>
    </table>
<% } else { %>
    <h5>No Exercises Added Currently</h5>
<% } %>

<br><br>

<a href="/exercises/<%= routine._id %>/new">
    <button>Add Exercise</button>
</a>

<%- include('../partials/footer') %>